.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;

  /* Base layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Font settings */
  color: yellow;
  font-size: calc(10px + 2vmin);
}

